.container{
    min-height: 500px;
    padding: 8rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sectionTitle{
    font-size: 2.2rem;
    padding: 0 20px;
    text-align: center;
}
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    border: 0;
}