.title{
    margin: 80px auto 0px ;
    width: 80%;

}
h2{
    padding: 20px;
    text-align: center;
}
hr{
    width: 5%;
    height: 3px;
    border-radius: 2px;
    margin:0px auto 20px auto;
    background-color: rgb(177, 211, 54); 
}