form{
    width: 600px;
}
.form-control {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #fab19d;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(244 98 58 / 25%);
}
textarea.form-control {
    height: 8rem;
}
.submit{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
    cursor: pointer;
}
.submit:hover {
    color: #fff;
    background-color: #cf5331;
    border-color: #c34e2e;
}