.display-flex{
    display: flex;
    justify-content: space-evenly;
   
}
.skillscore-container{
    width: 30rem;;
    text-align: center;
    margin: 50px 0;
    flex-wrap: wrap;
}
.skillscore-bar{
    width: 400px;
    height: 41px;
    border-radius: 20px;
    background-color: #ebeaec;
    border: 2px solid #2e2e2e;
}
.skillscore{
    height: 29px;
    border-radius: 20px 8px 8px 20px;
    margin-top: 4px;
    margin-left: 4px;
}
